.form {
    display: flex;
    flex-direction: column;
    // selects direct descendants, * means that its looking for all children
    > * {
        margin-bottom: $m-size;
    }
}

.form__error {
    margin: 0 0 $m-size 0;
    font-style: italic;
}